body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #008080; /* Windows 98 teal background color */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.window-full-screen {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.glass-pane {
    background: #008080; /* Windows 98 teal background color */
}

.glass-pane::before {
    background: #008080; /* Windows 98 teal background color */
}

.glass-pane::after {
    backdrop-filter: none;
}